h2 {
    color: rgb(0, 131, 163);
}
a {
    color: rgb(0, 255, 234)
}
body {
    background-color: rgb(19, 52, 53);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}