@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html{
    font-size: 16px;
}
a{
    color: aqua;
    font-style: italic;
}
a:hover{
    color: rgb(0, 218, 199);
}
h2 {
    color: white;
}
article{
    color: antiquewhite;
}
body {
    background-color: rgb(37, 37, 37);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.563rem;
}
header{
    background-color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    text-align: center;
    font-size: 4.375rem;
    z-index: 1000;
    margin: 0 auto;
}
hr{
    width: 75%;
    height: 2px;
    color: white;
    background-color: white;
}
.sticky{
    position: sticky;
    top: 0;
    float:right;
    height: 100%;
    width: 20%;
    background-color: #5f5f5f;
    padding: 20px;
    z-index: 2;
}
main{
    position: static;
    text-align: justify;
    width: 75%;
}
.curiosidade{
    color:rgb(177, 177, 177)
}
.curiosidade::before{
    content: "Curiosidades:";
    color: rgb(209, 209, 209);
    font-weight: bold;
}
footer{
    font-family: "Roboto", sans-serif;
    border-top: 20px solid rgb(143, 143, 143);
    background-color: #4d4d4d;
    padding: 16px;
}
div.caixa{
    padding: 20px;
}
.vmenu li{
    font-size: 1.3rem;
    margin: 0 0 10px 0
}